.App {
    position: static;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .App-logo {
    position: static;
    max-height: 6.94vmin;
    max-width: 7vmin;
    pointer-events: none;
    align-items:left;
    justify-content:left;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 7s linear;
      position: absolute;
      left: 10vw;
    }
  }
  
  .App-header {
    background-color: #4D4C52;
    height: 6.94vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: left;
    font-size: 1.9vw;
    color: #FBF9FB;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .App-link1 {
    color: #DD5B6C;
    position: absolute;
    left: 55vw;
  }
  
  .App-link2 {
    color: #DD5B6C;
    position: absolute;
    left: 72vw;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  .titulo {
    color: #FBF9FB;
    font-size: 2.5vw;
    font-weight:bolder;
    position: absolute;
    left: 18vw;
  }
  
  .corpo{
    background-color: #E4DADF;
    height: 1000px;
  }

  #div1{
    margin-top: 1vh;
  }

  #div1 label{
    color: #343239;
    font-weight:bolder;
    background-color: #DD5B6C;
    border-radius: 5px;
    padding: 0.5vh 2vw;
    
  }

  #inputs{
    margin-top: 1rem;
    display: flex;
    
  }
  